# Update archive mirror every six hours.
03 */6 * * * ubumirror /home/ubumirror/ubuarchive >/dev/null
# Update releases mirror every 24 hours.
03 * * * * ubumirror /home/ubumirror/uburelease >/dev/null
# Update cdimage mirror every 7 days.
03 11 */7 * * ubumirror /home/ubumirror/ubucdimage >/dev/null
# Update dvd mirror every 7 days.
03 16 */7 * * ubumirror /home/ubumirror/ubudvd >/dev/null
